@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url("../s1g.jpeg");
    background-repeat: no-repeat;
}
header {
    height: 200px;
    opacity: 50%;
}
main {
    flex: auto;
    background-color: #ccc;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    overflow-y: scroll;
}
footer {
    height: 25px;
}
header, footer {
    background-color: white;
}
